@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-family: var(--rob);
 
 
}

.header{
    background: #F2CEDA;
    background-image: url(../img/BG.png);
    background-position: right center;
    background-repeat: no-repeat;
    min-height: 900px;
}
.logo::after{
    content: url(../img/images-removebg-preview\ 1.png);

}

.link:hover {
    color: #D23166 !important;
    font-weight: 700;
   
}

.header__content-title{
font-weight: 500;
font-size: 14px;
color: #0F0101;
}

.title{
    max-width: 665px;
    font-weight: 500;
    font-size: 61px;
    line-height: 120.5%;
    color: #0F0101;
}

.text{
    max-width: 523px;
    font-family: var(--rob);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;

}

/*header fenished*/
/*main starts*/

.main{
    
}
.main__start{
   min-height: 200px; 
}
.main__title{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #000000;

}
.main__text{
    min-width: 198px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;

}
.Brown{
    
    background-position: right center;
    background-repeat: no-repeat;
    background:#F2CEDA;
    min-height: 665px;

}
.Brown::after{
    content: url(../img/ICE\ CREAM\ 2.png);
    
}
